body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}